In [1]:
print("Pakistan zindabadad")
print("we are pakistani")

Pakistan zindabadad
we are pakistani

In [ ]:
print("Hello world")

# Bahria university Islamabad
- 12:15 to 03:15

function abc (a, b){
    return a + b;
name }

In [4]:
name = "Ali"
father_name = "Muhammad"
uni = "Bahria University Islamabad"

message = """
PIAIC ISLAMABAD BATCH3
name : {}
father_Name: {} 
uni: {}
"""
message1 = message.format(name, father_name, uni) 

print(message1)

PIAIC ISLAMABAD BATCH3
name : Ali
father_Name: Muhammad
uni: Bahria University Islamabad

In [ ]:
name = input("Enter your name:")
father_name = input("Enter your Father's name:")
uni = input("Bahria University Islamabad:")

message = """
PIAIC ISLAMABAD BATCH3
name : {}
father_Name: {} 
uni: {}
"""
message1 = message.format(name, father_name, uni) 

print(message1)

In [9]:
Math=input("enter marks for math")
Eng=input("enter marks for eng")
Urdu=input("enter marks for urdu")
Islm=input("enter marks for Isla")
SS=input("enter marks for SS")

Total_Marks = (int(Math)+int(Eng)+int(Urdu)+int(Islm)+int(SS))
Marks 
Percentage = (((Total_Marks)/5)*100)
print(Percentage)

enter marks for math55
enter marks for eng77
enter marks for urdu88
enter marks for Isla66
enter marks for SS55
6820.0

###### all videos of Github 
all work on Git push and share URL on group
www.python.org  Documentation details >totorial
5 predefined function need to explorer on documentation and share on Git

In [10]:
?print

# Class Dated 24 Nov 2019

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
5 + 8 # Operation

#Operators
    #1 +, - , / , * , % ,** Operators
    # = , +=, -=, /=, *=, %=
    #== , >, <, >=, <=
# 5, 8 oprands

13

In [ ]:
#PEMDAS

5 + 7 - 8 * (2/2) + 200
#5 + 7 - 8 * 1 + 200
#5 + 7 - 8 + 200
#212-8
#204

# Homework
 
Creat two equation which has 20 Operands and has different operators 
which has all basic operators and that equate manually and automatically

In [12]:
a = 8
b = 8 
print (a)
print (b)

print(id(a))
print(id(b))

8
8
140716840054752
140716840054752

##Class notes

Two ruls of copying data
1. Shallow copy (Only copying reference is shallow copy)
2. Deep Copy ( reassigining the values)

In [13]:
#Data Types

a = 7 
type(a)

int

In [14]:
a = 20.7
type(a)

float

In [15]:
a = False
type(a)

bool

In [16]:
a = "S"
type(a)

str

In [17]:
a = 'k'
type(a)

str

In [18]:
'1' + "1"

'11'

In [21]:
#Type Casting
int("1") + int('1')

2

In [ ]:
implecit (what compiler do)
explecit (what user do)

In [ ]:
'1' + 7 (this is wrong as the data type is differnet for both so this should be same for both data type)

In [23]:
a = "pakistan "
a*2

'pakistan pakistan '

In [24]:
#Data Type : List

names = ['Ali', 'Shabi', 'Shabi', 200]
print(type(names))

<class 'list'>

In [25]:
names = ('Ali', 'Shabi', 'Shabi', 200)
print(type(names))

<class 'tuple'>

In [26]:
names = {'Ali', 'Shabi', 'Shabi', 200}
print(type(names))

<class 'set'>

In [28]:
#Index     0       1        2      3
names = ('Ali', 'Shabi', 'Shabi', 200)
#index    -4     -3        -2      -1

print(type(names))

<class 'tuple'>

In [31]:
#Index     0       1        2      3
names = {'Ali', 'Shabi', 'Shabi', 200}
#index    -4     -3        -2      -1

print(type(names))
print(names)

<class 'set'>
{200, 'Ali', 'Shabi'}

In [32]:
names = {'Ali', 'Shabi', 'Shabi', 200}
names = list(names)

print(names[0])
print(names)

200
[200, 'Ali', 'Shabi']

In [36]:
data = {
    #key   :  Value
    'name': "Shabi Raza",
    'fname':"Qasim Shah",
    5      : 'Pakistan',
    'a'  : [True,"pakistan",20, 3.0]
}

data['a']

[True, 'pakistan', 20, 3.0]

In [ ]:
#data types
int, bool, floot, str, list, set, dic

In [37]:
a = "Shabi Raza"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

inmemory = Phyical address of data to be changed
inline/runtime = On a single line operate it changes values for the time and give result and afterthat that line has the previous original value

In [39]:
In line operation

a = "shabi RaZa"
print(a.upper())
print(a)

SHABI RAZA
shabi RaZa

In [41]:
#In memory operation

a = "shabi RaZa"
a = (a.upper())
print(a)

SHABI RAZA

In [42]:
a = "shabi RaZa"
a = (a.capitalize())
print(a)

Shabi raza

In [46]:
a = "          shabi RaZa         "

print(len(a))
print(a.lstrip())
print(len(a.lstrip()))

29
shabi RaZa
19

In [47]:
a = "          shabi RaZa         "

print(len(a))
print(a.rstrip())
print(len(a.rstrip()))

29
          shabi RaZa
20

In [48]:
a = "          shabi RaZa         "

print(len(a))
print(a.strip())
print(len(a.strip()))

29
shabi RaZa
10

In [51]:
b = a.split()
b

['shabi', 'RaZa']

In [54]:
" ".join(b)

'shabi RaZa'

## slicing

In [55]:
a = "we are pakistani we lover our country!"
a

'we are pakistani we lover our country!'

In [58]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]

print (a)
print(a[::])
print(a[::-1])
print(a[7:15:])

we are pakistani we lover our country!
we are pakistani we lover our country!
!yrtnuoc ruo revol ew inatsikap era ew
pakistan

In [59]:
print(a)
print(a.index("pakistan"))

we are pakistani we lover our country!
7

In [60]:
a[a.index("pakistan") : 15]

'pakistan'

## isnumeric

In [62]:
str.isnmeric("5")

AttributeError: type object 'str' has no attribute 'isnmeric'

In [64]:
a = "kadkfakdfja232lkafk2lk32-adfasdfkask565644dfljalk2-2-/rf3"
"".join([i for i in a if str.isnumeric(i)])

'232232565644223'

### Concatination

In [ ]:
% Sting funcstion to be search

In [ ]:
 Card = """
 
 """

In [ ]:
all dir String all methord jupyter notebook to push to GIthub and share to 

Faizan and 

2nd 20 operand with randomly to 


assignment

-All sring data methods
-20 oprand with different operators
-


# Assignment

- All sring data methods
- 20 oprand with different operators