# Operators 
    --Arithmetic Operators
    --Assignments Operators
    --Logical Operators
    -Bitwise Operators
    -Membership Operators
    -identity Operators

## Arithmetic Operators

+ Additioin
- Substraction
* Multiplication
/ Division
// Floor Division
% Modulus
** Exponent or Power

In [ ]:
2 + 5

In [ ]:
2.3+5.1

In [ ]:
'A' + 'B'

In [ ]:
["Hamza", "Junaid"] + ["Abid", "Shabi"]
list addition

In [ ]:
("Hamza", "Junaid") + ("Abid", "Shabi")
#Tuple addition

In [ ]:
{"A", "B"} + {"C", "D"}
Set addition is not allowed

In [ ]:
# Dictionary addition not allowed
{1:"A", 2: "B"} + {"C", "D"}

In [ ]:
5-2

In [ ]:
3.2-98

In [ ]:
# in list not allowed
[4,5] - [3,6]

In [ ]:
#Set dataset allowed
 
{5,6,7} -{6,7}

In [ ]:
# In set String is removed with "-"
{"A", "B", "C"} -{"B"}

In [ ]:
2*4

In [ ]:
2*"A"

In [ ]:
#in set it give as element
["A"] *3

In [ ]:
# In tuple it give as string output
("A") *3

In [ ]:
11/3

In [ ]:
# if we want to move to the next line we'll add \
5 + 2 + 3 + 7 + 9 +\ 
3+ 9

In [ ]:
#Floor Division (it only took the decimal no and ignore the value after point) if we want an anwer in Int we will add double and and if in float we will only divided by one sign


13/4

In [ ]:
11//3

In [ ]:
#Modulus (it is the remaining value after the division )

2%3

In [ ]:
#Power or Exponent

2 ** 3    # 2x2x2=8

In [ ]:
#not allowed in string
"A" ** 2

## Comparison (Relational) Operators

If As the whole logic is comparision or symbolic AI

==
>
<
>=
<=
!= , <> (comparison)

In [ ]:
# it has the logic that the left value is equal to right value
2 == 2

In [ ]:
'A' == 'a'

In [ ]:
5 > 3

In [ ]:
5 > 5

In [ ]:
5 >= 5  # 5 > 4 both has same meaning, it inclue 5 and higher then 5

In [ ]:
"A" > "B"  # in order B has higher order value then A

#ASKI CODE Sequence
A = 65   -> Z = 90
a = 97   -> z = 122
0 = 48   -> 9 = 57

In [ ]:
ord("A")

In [ ]:
ord("a")

In [ ]:
chr(65)

In [ ]:
3 < 4

In [ ]:
3 <= 3

In [ ]:
# Not equal

'shabi' != 'Shabi'

In [ ]:
2 != 4

## Assignment Operators

In [ ]:
# we assign value to any variable, any value can be assign to any physical variable physical address

=
+=
-=
*=
/=
//=
**=
%=

In [ ]:
a = 5

In [ ]:
#in this assign new value and reassign the value to old physical address
a = 5
a = 6
a = 7

print(a)

In [ ]:

a = 1  # a
a +=2 # 1+2 = 3
a +=3 # 3+3= 6
a +=4 # 6+4= 10

print(a)

In [ ]:
a = 1
a = a + 2 # 1=2 = 3

In [ ]:
a = 100 
a -= 5
a -= 5
a -= 10 

print(a)

In [ ]:
a = 1
a *= 2 # 1*2
a *= 3 # 2*3 = 6
print(a)

In [ ]:
a = 100
a /= 2
a /=2
print(a)

In [ ]:
a = 100
a //= 2
a //=2
print(a)

In [ ]:
a = 21
a %= 5
print(a)

In [ ]:
a =1 
a **=2
a **=3
print(a)

In [ ]:
a =2 
a **=2
a **=3
print(a)

In [ ]:
a = "A"
a += "B"
print(a)

In [ ]:
a = [1, 2, 3]
a += [5, 6]
print(a)

## Logical Operators

and  &
or |
not  # its reverse logic if its ture means give false results

In [ ]:
True and True and True

In [ ]:
True & True & True

In [ ]:
True and False and True

In [ ]:
user = input("username:")
password = input("password")

user == "admin" and password == "123"
#"admin" == "admin" and "123" == "123"
#        True       and      True
#                   true

In [ ]:
user = input("username:")
password = input("password")

(user == "admin") & (password == "123")
#"shabi" == "admin" and "123" == "123"
#        True       and      True
#                   true

In [ ]:
True or True or False or False or True

In [ ]:
True | True | False | False | True

In [ ]:
False | False | False | False | False

In [ ]:
user = input("shabi:")
password = input("password")

(user == "shabi" or \
 user == "ali" or \
 user == "azmat") & (password == "123")
#"shabi" == "admin" and "123" == "123"
#        True       and      True
#                   true

In [ ]:
User = "shabi" # shabi, ali, azmat
password = 123

In [ ]:
# not

user = "ali"
password = "123"

not (user=="ali" and password=="123")

In [ ]:
# not

user = "a"
password = "123"

not (user=="ali" and password=="123")

## Bitwise Operators

In [ ]:
8,     7,     6,     5,     4,     3,     2,     1,     0
2,     2,     2,     2,     2,     2,     2,     2,     2
=========================================================
256, 128,    64,     32,    16,    8,     4,     2,     1

In [ ]:
1010101
1 = 
0 =
1 = 
0 =
1 =
0 =
1 = 

Take no from right side
11001
1 = 1
0 = 0 
0 = 0
1 = 8
1 = 16
Total sum = 25

In [ ]:
28 = 11100
29 = 11101
35 = 100011

& and 
11100
11101
------
11100

In [ ]:
28 & 29

In [ ]:
29 & 28

| or  
11100
11101
------
11101

In [ ]:
28 | 29

^ 
11100
11101
------
00001

In [ ]:
28 ^ 29

In [ ]:
~29

## Membership Operator

In [ ]:
in 
not in

In [ ]:
names = ["ali", "shabi", "junaid", "azmat"]

i = 0
while i < len(names):
    if names[i]=="junaid":
        print(True)
        break
    i +=l

In [ ]:
names = ["ali", "shabi", "junaid", "azmat"]
"ali" in names

In [4]:
User = input("Text")
'pakistan' in User

Textsdaf adsf sadf pakistan

True

In [5]:
user = input ()
user = user.split()
user

asdf adsfkj dasf pakistan

['asdf', 'adsfkj', 'dasf', 'pakistan']

## Identity Operators

In [ ]:
whenever two objects are same it will give you result,

In [6]:
a = '5'
b = 5
c = a
print(a is b)
print(a is c)

False
True

In [7]:
print(id(a))
print(id(b))
print(id(c))

1840993009088
140737326149504
1840993009088

In [8]:
id (a) == id (b)

False

In [9]:
id (a) == id (c)

True

## Control Flow

    -if
    -else
    -elif

if logic: 
    values_if_True #contain all true logic value
else: 
    value_if_False #contain all false logic value

In [10]:
if True:
    print("Pakistan")
else: 
    print("zindabad")

Pakistan

In [12]:
if False:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else: 
    print("zindabad")

zindabad

In [ ]:
if True:
    user

In [ ]:
user = input("username:")
password = input("password")

user == "admin" and password == "123"
#"admin" == "admin" and "123" == "123"
#        True       and      True
#                   true

In [15]:
user = input("user")
password = input("pass")

if (user =="ali" or user == "hamza") and password =="123":
    print("valid user")
else: print("invalid user")

userhsabi
pass123
invalid user

In [16]:
user = input("user")
password = input("pass")

if (user in ['ali', 'hamza', 'junaid']) and password =="123":
    print("valid user")
else: print("invalid user")

userjunaid
pass123
valid user

In [ ]:
lits k methods and attributs to be prepared for the next class